*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  /* background-color: #EAF0F2 !important; */
}


.shape-line{
  width: 10%;
  height: 5px;
  background-color: var(--color-primary);
  justify-self: center;
  border-radius: 8px;
}

.pre-title {
  font-size: 15px;
  font-family: var(--font-primary);
  color: var(--color-body);
  font-weight: 400;
  display: inline-block;
  text-transform: uppercase;
}

/* common */

.color-fb{
 color: var(--color-facebook); 
}
.color-linkd{
  color: var(--color-linkedin); 
 }
 .color-ig{
  color: var(--color-instagram); 
 }
 .color-twitter{
  color: var(--color-twitter); 
 }
 .color-yt{
  color: var(--color-youtube); 
 }