*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
  /* background-color: #EAF0F2 !important; */
}


/* common */

.color-fb{
 color: var(--color-facebook); 
}
.color-linkd{
  color: var(--color-linkedin); 
 }
 .color-ig{
  color: var(--color-instagram); 
 }
 .color-twitter{
  color: var(--color-twitter); 
 }
 .color-yt{
  color: var(--color-youtube); 
 }