@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

@font-face {
  font-family: "Spartan";
  src: url("../src/assets/fonts/spartan-cufonfonts/Spartan-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Spartan";
  src: url("../src/assets/fonts/spartan-cufonfonts/Spartan-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Spartan";
  src: url("../src/assets/fonts/spartan-cufonfonts/Spartan-SemiBold.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: url('../src/assets/fonts/spartan-cufonfonts/Spartan-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

:root {
  --color-primary: #ff6f00;
  --color-primary-2: rgba(255, 111, 0, 0.6);
  // --color-primary-2: rgb(255, 205, 167);
  
  --color-secondary: #415065;
  --color-header: #181818;
  --color-white: #fff;
  --color-black: #000;
  --color-extra-1: #1ab69d;
  --color-extra-2: #8e56ff;

  --color-border: #e5e5e5;
  --color-body: grey;
  --color-body-2: #f0f4f5;
  --bg-color: #eaf0f2;


  --color-facebook:#1877f2;
  --color-twitter:#1da1f2;
  --color-linkedin:#0a66c2;
  --color-youtube:#cd201f;
  --color-instagram:#C231A1;


  --layout-lg: 1119px;
  --layout-md: 991px;
  --layout-sm: 767px;

  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Spartan", sans-serif;
}

body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
  font-family: var(--font-secondary) !important;
}

ul {
  list-style-type: none;
  padding-left: 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

p {
  margin-bottom: 0 !important;
}

h1{
  font-size: 50px;

  @media (max-width:1119px){
    font-size:44px !important;
  }

  @media (max-width:767px){
    font-size:34px !important;
  }
}


h2{
  font-size: 36px !important;

  @media (min-width:767px) and (max-width:991px){ 
    font-size: 30px !important;
  }

  @media (max-width:767px){
    font-size:26px !important;
  }
}


h4{
  font-size: 20px !important;

  @media (max-width:767px){
    font-size:18px !important;
  }
}

