@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&family=Poppins:wght@300;400;500;700&display=swap');
/* weight- öner */
/* @font-face {
  font-family: 'Spartan';
  src: url('../src/assets/fonts/spartan-cufonfonts/Spartan-Thin.ttf');
  font-weight: 300;
  font-style: normal;
} */
@font-face {
  font-family: 'Spartan';
  src: url('../src/assets/fonts/spartan-cufonfonts/Spartan-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: 'Spartan';
  src: url('../src/assets/fonts/spartan-cufonfonts/Spartan-Bold.ttf');
  font-weight: bold;
  font-style: normal;
} */

:root{

  --color-primary: #ff6f00;
  --color-secondary: #415065;
  --color-white: #fff;

  --font-primary:'Spartan', sans-serif;
  --font-secondary:'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: var(--font-primary) !important;
} 

ul{
  list-style-type: none;
  margin: 0 !important;
}

a{
  text-decoration: none !important;
}